  * {
    box-sizing: border-box;
  }

  .s01 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 0px 15px 15px 15px;
  }

  .s01 form {
    width: 100%;
    max-width: 1290px;
  }

  .s01 form legend {
    font-size: 72px;
    line-height: 1;
    color: #fff;
    margin-bottom: 60px;
  }

  .s01 form .inner-form {
    background: rgba(233, 233, 233, 0.41);
    padding: 40px 47px;
    display: -ms-flexbox;
    display: flex;
    border-radius: 10px;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
  }

  .s01 form .inner-form .input-field {
    margin-right: 30px;
    height: 68px;
  }

  .s01 form .inner-form .input-field input {
    height: 100%;
    background: #fff;
    border-radius: 7px;
    border: 0;
    display: block;
    width: 100%;
    /*padding: 10px 32px;*/
    font-size: 20px;
  }

  .s01 form .inner-form .input-field input.placeholder {
    color: #9a9a9a;
    font-size: 20px;
  }

  .s01 form .inner-form .input-field input:-moz-placeholder {
    color: #9a9a9a;
    font-size: 20px;
  }

  .s01 form .inner-form .input-field input::-webkit-input-placeholder {
    color: #9a9a9a;
    font-size: 20px;
  }

  .s01 form .inner-form .input-field input:hover,
  .s01 form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
  }

  .s01 form .inner-form .input-field.first-wrap {
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .s01 form .inner-form .input-field.second-wrap {
    width: 32.77%;
    min-width: 180px;
  }

  .s01 form .inner-form .input-field.third-wrap {
    width: 180px;
    margin-right: 0;
  }

  .s01 form .inner-form .input-field.third-wrap .btn-search {
    height: 100%;
    width: 100%;
    background: #f49a32;
    white-space: nowrap;
    border-radius: 7px;
    font-size: 20px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
  }

  .s01 form .inner-form .input-field.third-wrap .btn-search:hover {
    background: #d88525;
  }

  .s01 {
    display: flex;
    flex-direction: column;
  }

  .list_of_tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .list_of_tabs li {
    margin-right: 25px;
    padding-bottom: 10px;
    position: relative;
  }

  .list_of_tabs li.active-tab::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: orange;
  }

  .list_of_tabs li:last-child {
    margin-right: 0;
  }

  .list_of_tabs>li>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .list_of_tabs>li>a:hover {
    color: orange;
  }


  /* style for tabs */

  .select-option {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .select-option li {
    display: flex;
    align-items: center;
  }

  .select-option li img {
    width: 30px;
    height: auto;
    margin-right: 10px;
  }

  .select-option li .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .select-option li .locationTitle {
    font-size: 12px;
    font-weight: bold;
  }

  .select-option li .sub-location {
    font-size: 10px;
    color: #9a9a9a;
  }

  .choose {
    text-align: justify;
    background-color: white;
    border-radius: 7px;
    color: #191e3b;
    padding: 15px;
    margin-top: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    position: relative;
  }

  .choose-travelers {
    text-align: justify;
    background-color: white;
    border-radius: 7px;
    color: #191e3b;
    padding: 15px;
    margin-top: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    position: relative;
  }

  #dropdown-travelers {
    display: block;
  }

  #minus_button_guests {
    width: 30px;
    height: 30px;
    background-image: url('Icons/Minus.png');
    background-size: cover;
    border: none;
  }

  #plus_button_guests {
    width: 30px;
    height: 30px;
    background-image: url('Icons/Plus.png');
    background-size: cover;
    border: none;
  }

  #type-person {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  #type-person label {
    margin-right: 10px;
  }

  #type-person div {
    display: flex;
    align-items: center;
  }

  #type-person input {
    width: 5px;
    margin: 0 10px;
  }

  #type-person button {
    width: 30px;
  }

  


  /*
  .choose {
    display: none;
  }
*/

  #destinationSearch::placeholder {
    color: #191e3b;
    font-weight: bold;
  }

  #goingTo-id:last-child {
    display: none;
  }

  #destinationSearch {
    padding: 10px 0 10px 0;
  }

  #goingTo-id {
    margin-bottom: 15px;
  }

  #goingTo-id:hover {
    background-color: #3569f7;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }

  #goingTo-id:hover .sub-location {
    color: white;
  }

  .goingTo {
    padding: 3px;
  }